header.header
    .header__container
        img.header__logo(src="../img/logo-dark.png", alt="Yakutovych academy")
    form.header__form(method="POST" action="index.php")
        a#link-ukr.visually-hidden(href="../ukr/01.php")
        a#link-en.visually-hidden(href="../en/01.php")
        select.header__select
            option(value="ukr") ukr
            option(value="en") en
