include ../../../mixins/accordion

-
    var data = {
        title: "людина",
        question: "хто?",
        iconClass: "human__icon"
    }

section.section.human
    .section__container
        +accordion(data).human__accordion
            | content
        .human__content
            


