section.section.intro
    .section__container
        .intro__top
            img(src="../img/mountains.png", alt="Likbez").intro__img
            h1.intro__title лікбез
        .intro__content
            .intro__left
                .intro__number 01
                .intro__month січень
                .intro__year 2018
            .intro__center
                p.intro__text Часто до теми культури, а особливо мало висвітленої української культури, не знають як підступитися. Що варто сказати в першу чергу, а що може бути вторинним? Ми надаємо можливість власного вибору, як саме розставити пріоритети при ознайомленні. Ви можете розпочати з замальовок особистостей художників, де невелика риса характеру розповідає інколи про людину більше, ніж ціла монографія. Можете пробігтися по хронології – тим самим отримавши чітку систему фактажу та розуміння різних епох. А потім перейти від часу до простору та подивитися, як історія персонажа вплітається в місце, де він живе й працює. Цілком імовірно, що ви захочете більше дізнатися про техніки, за допомогою яких митці втілюють свої ідеї та зрозуміти, чому під певний смисл шукають цілком конкретну форму. Врешті-решт, інколи корисно задати собі й більш філософські питання: 
                p.intro__text.intro__text--center чому? як? навіщо?
                p.intro__text.intro__text--center Але, звісно, ви можете знехтувати нашою системою й обрати свою – читати розділи в тому порядку, який видається цікавішим або доцільнішим. І знайти власний підступ до історії родини Якутовичів і культури загалом.
            .intro__right
                include ../../../components/scroll