include ../../../mixins/accordion

-
    var data = {
        title: "місце",
        question: "де?",
        iconClass: "place__icon"
    }

section.section.place
    .section__container
        +accordion(data).place__accordion
        .place__content