include ../../../mixins/accordion

-
    var data = {
        title: "цілі",
        question: "навіщо?",
        iconClass: "targets__icon"
    }

section.section.targets
    .section__container
        +accordion(data).targets__accordion
        .targets__content