include ../../../mixins/accordion

-
    var data = {
        title: "техніка",
        question: "як?",
        iconClass: "technique__icon"
    }

section.section.technique
    .section__container
        +accordion(data).technique__accordion
        .technique__content