include ../../../mixins/accordion

-
    var data = {
        title: "час",
        question: "коли?",
        iconClass: "time__icon"
    }

section.section.time
    .section__container
        +accordion(data).time__accordion
        .time__content