.header {
    position: relative;
    margin-top: 40px;

    &__container {
        @extend .section__container;
    }

    &__form {
        position: absolute;
        top: 0;
        right: 30px;
    }

    &__logo {
        float: right;
        width: 35%;
    }
}