.intro {
    margin-top: 100px;
    margin-bottom: 130px;

    &__top {
        text-align: center;
    }

    &__img {
        max-height: 90px;
    }

    &__title {
        margin-top: 30px;
        font-size: 3.375rem;
        font-weight: 700;
        color: #010101;
        text-transform: uppercase;
    }

    &__text {
        color:  #000;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.4;
        text-align: justify;

        &--center {
            text-align: center;
        }
    }

    &__content {
        display: flex;
    }

    &__left {
        text-align: center;
        padding-right: 5.357142857%
    }

    &__center {
        font-size: 1.188rem;
        font-weight: 500;
    }

    &__text {
        display: flex;
        justify-content: center;
    }

    &__right {
        padding-right: 8%;

        .scroll {
            align-items: flex-end;
            width: 80px;

            &::after {
                display: none;
            }
        }

        .scroll__mouse-icon {
            @include sprite($mouse-secondary);
        }

        .scroll__arrow-icon {
            @include sprite($long-arrow-secondary);
            margin-right: 5px;
        }

        .scroll__text {
            margin-right: -25px;
            color: $secondary-color;
        }
    }

    &__number {
        margin-bottom: 10px;
        color: $secondary-color;
        font-size: 8.103rem;
        font-weight: 700;
        line-height: 6rem;
    }

    &__month, &__year {
        margin-top: 4px;
        color:  #c6c6c6;
        font-size: 1.814rem;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
    }
}