.about {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    transform: translateX(-100%);
    background-color: $secondary-color;
    transition: transform .5s;

    &--active {
        transform: translateX(0);
    }

    &__container {
        @extend .section__container;

        position: relative;
        z-index: 9999;
        height: 100%;

        @include respond-to(large) {
            margin-top: 130px;
        }


        @include respond-to(small) {
            margin-top: 110px;
        }


        @include respond-to(x-small) {
            margin-top: 80px;
        }
    }

    &__wrapper {
        position: absolute;
        top: 27%;
        z-index: 9999;
        display: flex;
        margin-bottom: 10px;

        @include respond-to(large) {
            top: 30px;
            flex-wrap: wrap;
        }
    }

    &__center {
        display: flex;

        @include respond-to(large) {
            padding: 0 20px;
            flex-direction: column;
            width: 100%;
            order: 1;
            margin-bottom: 30px;
        }
    }

    &__center-left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;


        @include respond-to(large) {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0 20px;
            order: 2;
        }
    }

    &__center-right {
        width: 50%;

        @include respond-to(large) {
            width: 100%;
            padding: 0 20px;
            order: 1;
        }
    }

    &__left {
        @include respond-to(large) {
            width: 50%;
            order: 2;
            padding-left: 40px;
        }
    }

    &__right {
        @include respond-to(large) {
            width: 50%;
            padding-right: 40px;
            order: 3;
        }


        .facts__fact {
            @include respond-to(large) {
                width: 171px;
                left: auto;
                right: 55px;
            }
        }
    }

    &__text-block {
        color: #fff;
        margin-right: 15%;

        @include respond-to(large) {
            margin-right: 0;
        }

        @include respond-to(small) {
            max-height: auto;
        }
    }

    &__title {
        @extend .section__title;
    }

    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 1.5rem;

        @include respond-to(small) {
            margin-top: 10px;
            font-size: 1rem;
        }


        &--expand {
            margin-top: 0;

            @include respond-to(small) {
                display: none;
            }
        }
    }

    &__back {
        @extend .btn;

        width: 60.962616822%;
        border: 2px solid $accent-color;
        max-width: 308px;
        color: #fff;

        @include respond-to(large) {
            margin: 0;
            margin-left: 0;
            margin-top: 30px;
            width: 100%;
        }


        @include respond-to(small) {
            margin-top: 20px;
            width: 100%;
        }


        @include respond-to(x-small) {
            max-width: 100%;
            margin-top: 10px;
        }
    }

    &__btn-arrow {
        @include sprite($short-arrow);

        margin-left: 15px;
        transform: rotate(180deg);
    }

    .scroll {
        &::after {
            display: none;
        }
    }

    &__more-btn {
        color: #fff;
        margin-top: 10px;
        display: none;

        @include respond-to(small) {
            display: block;
        }
    }
}
