.circle {
    position: relative;
    background: url("../img/kolo_bg.jpg") no-repeat (center / cover);
    overflow: hidden;

    &__container {
        @extend .section__container;

        display: flex;
        align-items: center;
        border: 1px solid transparent;
        height: 100%;
        padding: 80px 0;

        @include respond-to(large) {
            padding: 20px;
        }
    }

    &__border {
        display: flex;
        align-items: center;
        height: 100%;
        border: 3px solid $secondary-color;

        @include respond-to(small) {
            margin: 25px 20px;
            height: calc(100% - 50px);
        }
    }

    &__content {
        position: relative;
        margin-left: 13%;
        margin-right: 7%;
        padding-left: 180px;
        padding-right: 30.282051282%;

        @include respond-to(large) {
            margin-top: 240px;
            margin-bottom: 220px;
            padding-left: 2%;
            padding-right: 0;
        }

        @include respond-to(medium){
            margin-top: 20%;
            margin-bottom: 20%;
        }


        @include respond-to(small) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0;
            margin: 20% 16.875% 20% 16.875%;
        }

        @include respond-to(x-small){
            margin: 7% 16.875% 7% 16.875%;
        }


        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 1px;
            height: 151px;
            background-color: #fff;

            @include respond-to(large) {
                display: none;
            }
        }
    }

    &__title {
        @extend .text-block__title;
        @extend .no-opacity;

        position: relative;
        color: $secondary-color;

        @include respond-to(large){
            opacity: 1;
        }

        @include respond-to(small) {
            text-align: left;
            width: 100%;
        }


        &::before {
            content: '';
            position: absolute;
            left: -180px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 151px;
            height: 1px;
            background-color: #fff;

            @include respond-to(medium) {
                left: -164px;
            }


            @include respond-to(small) {
                left: -168px;
            }
        }
    }

    &__text {
        @extend .text-block__text;
        @extend .no-opacity;

        color: #fff;

        @include respond-to(large){
            opacity: 1;
        }

        @include respond-to(small) {
            margin-top: 10px;
            line-height: 1.2;
        }


        &::before {
            background-color: $secondary-color;

            @include respond-to(small) {
                left: -37px;
            }
        }
    }

    &__watch-btn {
        @extend .btn;

        margin-top: 20px;
        width: 62.348178138%;
        border: 2px solid #fff;
        color: #fff;
        padding: .8rem 10px;

        @include respond-to(small) {
            min-width: auto;
            margin-top: 55px;
            padding: 5px 0;
            max-width: 100%;
            width: 100%;
        }
    }

    &__watch-icon {
        @include sprite($play);

        margin-right: 15px;
    }
}
