.family {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 1000;
    width: 100%;
    background-color: $accent-color;
    transition: left .5s;

    &--active {
        left: 0;
    }

    &__container {
        @extend .section__container;

        height: 100%;
        padding: 50px 20px;

        @include respond-to(large) {
            height: auto;
            padding: 20px;
        }
    }

    &__list {
        @include respond-to(large) {
            margin-left: 170px;
        }


        @include respond-to(small) {
            margin-left: 100px;
        }
    }

    &__item {
        cursor: pointer;
        transition: $tr3s;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.473;

        @include respond-to(large) {
            font-size: 1.4rem;
        }


        @include respond-to(medium) {
            font-size: 1rem;
        }


        &:hover {
            text-decoration: underline;
        }
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        padding-left: 10px;
        height: 100%;
    }

    &__back-btn {
        @extend .btn;

        min-width: auto;
        max-width: 80px;
        padding: 10px;
        border: 2px solid #fff;

        @include respond-to(large) {
            position: absolute;
            z-index: 3000;
            margin-left: 0;
            margin-top: 0;
            margin-left: 10px;
        }


        @include respond-to(medium) {
            width: 50px;
            padding: 5px 10px;
        }
    }

    &__back-icon {
        @include sprite($arrow-green);

        transform: scale(0.7);

        @include respond-to(medium) {
            transform: scale(0.7);
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 44.871794872%;
        height: 100%;

        @include respond-to(large) {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            max-width: 100%;
            height: auto;
        }
    }

    &__members-container {
        position: relative;
        max-width: 70%;
        margin-right: 10px;
        padding-bottom: 20px;
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;

        @include respond-to(large) {
            display: flex;
            align-items: center;
            // min-height: 100%;
            max-width: 100%;
        }
    }
}
