.header {
    position: absolute;
    top: 0;
    z-index: 9999;
    margin-top: 40px;
    width: 100%;

    &__container {
        @extend .section__container;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 175px;

        @include respond-to(large) {
            justify-content: space-between;
            padding: 0 20px;
        }
    }

    &__item {
        display: inline-block;

        &:first-of-type {
            margin-right: 80px;

            @include respond-to(large) {
                margin-right: 30px;
            }
        }
    }

    &__form {
        position: absolute;
        top: 0;
        right: 30px;
    }

    &__select {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 0.938rem;
        font-weight: 700;
        text-transform: uppercase;

        @include respond-to(large) {
            right: 20px;
        }


        @include respond-to(small) {
            font-size: 0.8125rem;
        }


        option {
            color: #000;
        }
    }

    &__link {
        color: #fff;
        font-size: 0.938rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: $tr3s;

        &:hover {
            color: darken(#fff, 20%);
        }

        @include respond-to(small) {
            font-size: 0.8125rem;
        }
    }
}
