.home {
    $slide-height: 900px;
    $slide-height-lg: 375px;
    $slide-height-sm: 276px;

    position: relative;
    overflow: hidden;
    height: $slide-height;

    @include respond-to(large) {
        height: $slide-height-lg * 2;
    }


    @include respond-to(small) {
        height: $slide-height-sm * 2;
    }


    &__left-slider, &__right-slider {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
        z-index: 1;
        font-size: 0;

        @include respond-to(large) {
            width: 100%;
            height: 50%;
        }
    }

    &__left-bg, &__right-bg {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__left-slider {
        left: 0;

        @include respond-to(large) {
            top: 0;
            right: 0;
        }
    }

    &__right-slider {
        right: 0;

        @include respond-to(large) {
            top: auto;
            left: 0;
        }
    }

    &__left-bg {
        &--1 {
            background-image: url("../img/l_1.jpg");

            @include respond-to(large) {
                background-image: url("../img/r_1-sm.jpg");
            }
        }

        &--2 {
            background-image: url("../img/l_2.jpg");

            @include respond-to(large) {
                background-image: url("../img/r_2-sm.jpg");
            }
        }

        &--3 {
            background-image: url("../img/l_3.jpg");

            @include respond-to(large) {
                background-image: url("../img/r_3-sm.jpg");
            }
        }

        &--4 {
            background-image: url("../img/l_4.jpg");
        }

        &--5 {
            background-image: url("../img/l_5.jpg");
        }
    }

    &__right-bg {
        &--1 {
            background-image: url("../img/r_1.jpg");

            @include respond-to(large) {
                background-image: url("../img/l_3-sm.jpg");
            }
        }

        &--2 {
            background-image: url("../img/r_5.jpg");

            @include respond-to(large) {
                background-image: url("../img/l_2-sm.jpg");
            }
        }

        &--3 {
            background-image: url("../img/r_4.jpg");

            @include respond-to(large) {
                background-image: url("../img/l_1-sm.jpg");
            }
        }

        &--4 {
            background-image: url("../img/r_3.jpg");
        }

        &--5 {
            background-image: url("../img/r_2.jpg");
        }
    }

    &__left-container {
        margin-left: 6.41025641%;
        width: 4.551282051%;

        @include respond-to(large) {
            margin-top: 60px;
            margin-left: 0;
            order: 1;
        }


        @include respond-to(small) {
            margin-top: 40px;
        }
    }

    &__right-container {
        max-width: 14.935897436%;

        @include respond-to(large) {
            display: flex;
            align-items: center;
            order: 2;
        }


        @include respond-to(small) {
            margin-top: 20px;
        }
    }

    &__center-container {
        margin-left: 17.371794872%;
        margin-right: 16.3%;

        @include respond-to(large) {
            width: 100%;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            order: 0;
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__wrapper {
        @extend .section__container;

        @extend .no-opacity;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        animation-delay: 1.5s;

        @include respond-to(large) {
            opacity: 1;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 350px;

        @include respond-to(large) {
            position: absolute;
            bottom: 119px;
            flex-wrap: wrap;
            margin: auto 40px;
        }


        @include respond-to(small) {
            bottom: 106px;
        }
    }

    &__about-btn {
        @extend .btn;

        margin-top: 17px;
        max-width: 308px;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        max-width: 320px;
        border: 2px solid $accent-color;

        @media screen and (min-width: 1025px) {
            width: 48%;
            margin-top: 10px;
        }

        @include respond-to(large) {
            width: 100%;
            margin-top: 40px;
        }


        @include respond-to(small) {
            margin-top: 10px;
            width: 100%;
            max-width: 100%;
        }


        @include respond-to(x-small) {
            max-width: 100%;
        }
    }

    &__btn-arrow-icon {
        @include sprite($short-arrow);

        margin-left: 7px;
    }
}
