.person {
    position: absolute;
    top: 0;
    z-index: 5000;
    padding-right: 55px;
    transform: translateX(-100%);
    width: 100%;
    background-color: $accent-color;
    color: #fff;
    transition: transform .5s;

    &--active {
        transform: translateX(0);
    }

    @include respond-to(large) {
        top: auto;
        bottom: 0;
        padding: 20px;
        margin-left: -170px;
    }


    @include respond-to(medium) {
        padding-right: 20px;
    }


    @include respond-to(small) {
        padding-top: 20px;
        margin-left: -100px;
    }


    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;

        @include respond-to(medium) {
            font-size: 0.8125rem;
        }
    }

    &__back {
        @include sprite($arrow-green);

        margin-left: 10px;

        @include respond-to(medium) {
            transform: scale(0.8);
        }
    }

    &__years {
        font-size: 1.4rem;
        font-weight: 300;

        @include respond-to(medium) {
            font-size: 0.8125rem;
        }
    }

    &__img-container {
        margin-top: 20px;
        max-width: 370px;
        cursor: zoom-in;

        @include respond-to(large) {
            max-width: 40%;
        }


        @include respond-to(medium) {
            max-width: 50%;
            margin-top: 5px;
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__profession {
        margin-bottom: 15px;

        @include respond-to(small) {
            margin-bottom: 10px;
        }
    }

    &__text {
        font-size: 1.2rem;
        font-weight: 400;

        @include respond-to(medium) {
            font-size: 0.8125rem;
        }


        &--bold {
            font-weight: 600;
        }
    }
}
