.stages {
    position: relative;

    &__container {
        @extend .section__container;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        &::before {
            content: '';
            position: absolute;
            right: 220px;
            top: -25.5px;
            z-index: 9000;
            background-color: $accent-color;
            width: 4px;
            height: 51px;

            @include respond-to(medium) {
                display: none;
            }
        }

        @include respond-to(x-large) {
            max-width: 100%;
        }
    }

    &__img-container {
        position: absolute;
        z-index: 9000;

        &--logo {
            left: 80px;
            top: -100px;
            max-width: 130px;

            @include respond-to(x-large) {
                top: -100px;
            }


            @include respond-to(large) {
                top: -50px;
                max-width: 100px;
            }


            @include respond-to(medium) {
                max-width: 75px;
                left: 20px;
                top: -30px;
            }


            @include respond-to(small) {
                top: -40px;
            }
        }

        &--rabbit {
            right: 2%;
            bottom: -200px;
            z-index: 9000;
            max-width: 180px;

            @include respond-to(x-large) {
                bottom: -220px;
            }


            @include respond-to(large) {
                max-width: 150px;
                bottom: -100px;
            }


            @include respond-to(medium) {
                max-width: 100px;
                bottom: -120px;
                right: 10px;
            }


            @include respond-to(small) {
                bottom: -130px;
            }


            @include respond-to(x-small) {
                bottom: -170px;
            }
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__slider {
        @include respond-to(large) {
            padding: 100px 0;
        }
    }

    &__slide {
        padding-left: 73px;
        color: #f3f3f3;
        width: 28.461538462%;

        @include respond-to(large) {
            padding: 0 30%;
            width: 100%;
            text-align: center;
        }


        @include respond-to(medium) {
            padding: 0 85px;
        }


        .text-block__text::after {
            display: none;
        }

        &--active {
            .stages__date {
                color: $secondary-color;
            }

            .stages__month {
                color: #c6c6c6;
            }

            .stages__dummy {
                color: $secondary-color;
                border-color: $accent-color;
            }

            .stages__title {
                color: #010101;
            }

            .stages__text {
                color: #464646;

                &::before {
                    display: block;
                }
            }
        }
    }

    &__title {
        @extend .text-block__title;

        margin-top: 40px;
        transition: $tr3s;

        @include respond-to(large) {
            margin-top: 30px;
            opacity: 1;
        }


        @include respond-to(medium) {
            margin-top: 20px;
        }
    }

    &__text {
        @extend .text-block__text;

        transition: $tr3s;

        @include respond-to(large) {
            text-align: left;
            opacity: 1;
        }


        @include respond-to(medium) {
            margin-top: 10px;
        }


        &::before {
            display: none;
        }
    }

    &__date {
        font-size: 18rem;
        font-weight: 700;
        line-height: .75;
        margin-left: -10px;
        color: #f3f3f3;
        transition: $tr3s;

        @include respond-to(medium) {
            font-size: 9rem;
        }
    }

    &__navigation {
        position: absolute;
        top: 410px;
        left: 0;
        right: 0;
        z-index: 9900;
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin: 0 auto;

        @include respond-to(large) {
            width: 100%;
            padding: 0 20px;
            top: 300px;
        }


        @include respond-to(medium) {
            top: 241px;
        }
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #ddd;
        background-color: #fff;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: $tr3s;

        &:hover {
            border-color: darken(#ddd, 10%);
        }

        &--prev {
            transform: rotate(180deg);
        }

        &--disabled, &.swiper-button-disabled {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__control-icon {
        @include sprite($slider-arrow);

        transform: scale(0.8);
    }

    &__month {
        margin-top: 40px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: #f3f3f3;
        transition: $tr3s;

        @include respond-to(medium) {
            font-size: 1rem;
        }
    }

    &__dummy {
        display: inline-block;
        padding: 10px 5px;
        margin-top: 20px;
        font-weight: 700;
        font-size: .9rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #f3f3f3;
        border: 2px solid #f3f3f3;
        white-space: nowrap;

        @include respond-to(medium) {
            font-size: 0.8125rem;
        }


        @include respond-to(small) {
            max-width: auto;
        }
    }
}
