.team {
    position: relative;
    border-bottom: 1px solid #000;

    @include respond-to(large) {
        padding: 100px 0;
    }


    @include respond-to(large) {
        padding-top: 53px;
        padding-bottom: 103px;
    }


    &__container {
        @extend .section__container;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;

        @include respond-to(large) {
            padding: 0 80px;
            flex-direction: column;
        }


        @include respond-to(medium) {
            padding: 0 40px;
        }
    }

    &__social-block {
        max-width: 308px;

        @include respond-to(large) {
            margin-left: 0;
            order: 2;
            padding-top: 40px;
            max-width: 100%;
        }
    }

    &__subscribe-text {
        margin-top: 10px;
        color: #7d7d7d;
        font-size: 0.938rem;
        font-weight: 500;
        line-height: 1.6;

        @include respond-to(small) {
            font-size: 0.625rem;
            line-height: 1.1;
        }
    }

    &__about-block {
        max-width: 370px;
        padding-left: 73px;
        margin-left: 10px;

        @include respond-to(large) {
            margin-right: 0;
            order: 1;
            margin-left: 0;
            padding-left: 0;
            max-width: 100%;
        }
    }

    &__title {
        @extend .text-block__title;

        @extend .no-opacity;

        @include respond-to(large) {
            margin-top: 0;
            opacity: 1;
        }
    }

    &__text {
        @extend .text-block__text;

        @extend .no-opacity;

        @include respond-to(large) {
            opacity: 1;
        }
    }

    &__form {
        display: flex;
        align-items: stretch;
        border: 2px solid $secondary-color;
        margin-top: 20px;

        @include respond-to(large) {
            border: none;
        }


        @include respond-to(small) {
            flex-direction: column;
        }
    }

    &__input {
        padding: 17px 10px 17px 10px;
        width: 100%;
        border: none;
        outline: none;

        @include respond-to(large) {
            padding: 10px;
        }


        @include respond-to(small) {
            width: 100%;
        }


        @include placeholder {
            color: #ccc;
            font-size: 0.875rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;

            @include respond-to(small) {
                font-size: .8rem;
            }
        }
    }

    &__input-wrapper {
        position: relative;
        flex-grow: 1;
    }

    &__error-message {
        position: absolute;
        top: -25px;
        left: 0;
        color: red;
        display: none;
    }

    &__label {
        position: absolute;
        z-index: 8000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 0.875rem;
        width: 100%;
        height: 100%;
        font-weight: 700;
        color: $secondary-color;
        cursor: pointer;
        background-color: #fff;
        border: none;
    }

    &__submit {
        display: flex;
        align-items: center;
        padding-right: 20px;

        @include respond-to(large) {
            border: none;
            padding: 10px 20px;
            margin-left: 10px;
        }


        @include respond-to(small) {
            padding: 10px 10px;
            margin-top: 10px;
            margin-left: 0;
            width: 100%;
            justify-content: center;
        }
    }

    &__arrow-icon {
        @include sprite($short-arrow-orange);
    }

    &__social-list {
        display: flex;
        margin-top: 90px;

        @include respond-to(large) {
            margin-top: 14px;
        }
    }

    &__social-item {
        &:last-of-type {
            margin-left: 9px;
        }
    }

    &__social-link {
        &--facebook {
            @include sprite($facebook);
        }

        &--email {
            @include sprite($mail);
        }
    }

    &__more-btn {
        margin-top: 0px;

        @include respond-to(small) {
            margin-top: 12px;
        }
    }

    &__info {
        margin-top: 20px;
        line-height: 1.5;
        font-size: .9rem;
        font-weight: 500;

        b {
            white-space: nowrap;
        }
    }

    &__list {
        margin-top: 10px;
    }

    &__bottom-text {
        margin-top: 10px;
    }
}
