* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    background-color: #fff;
    font-family: $ffMontserrat;
    font-size: 14px;
    margin: 0;

    @include respond-to(large){
        font-size: 16px;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

br {
    @include respond-to(medium){
        display: none;
    }
}

h1, h2, p, figure, ul, li {
    margin: 0;
    padding: 0;
}