// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-green-name: 'arrow-green';
$arrow-green-x: 45px;
$arrow-green-y: 173px;
$arrow-green-offset-x: -45px;
$arrow-green-offset-y: -173px;
$arrow-green-width: 38px;
$arrow-green-height: 15px;
$arrow-green-total-width: 262px;
$arrow-green-total-height: 188px;
$arrow-green-image: '../img/spritesheet.png';
$arrow-green: (45px, 173px, -45px, -173px, 38px, 15px, 262px, 188px, '../img/spritesheet.png', 'arrow-green', );
$bird-name: 'bird';
$bird-x: 0px;
$bird-y: 52px;
$bird-offset-x: 0px;
$bird-offset-y: -52px;
$bird-width: 64px;
$bird-height: 57px;
$bird-total-width: 262px;
$bird-total-height: 188px;
$bird-image: '../img/spritesheet.png';
$bird: (0px, 52px, 0px, -52px, 64px, 57px, 262px, 188px, '../img/spritesheet.png', 'bird', );
$close-name: 'close';
$close-x: 199px;
$close-y: 116px;
$close-offset-x: -199px;
$close-offset-y: -116px;
$close-width: 32px;
$close-height: 32px;
$close-total-width: 262px;
$close-total-height: 188px;
$close-image: '../img/spritesheet.png';
$close: (199px, 116px, -199px, -116px, 32px, 32px, 262px, 188px, '../img/spritesheet.png', 'close', );
$facebook-name: 'facebook';
$facebook-x: 104px;
$facebook-y: 114px;
$facebook-offset-x: -104px;
$facebook-offset-y: -114px;
$facebook-width: 54px;
$facebook-height: 54px;
$facebook-total-width: 262px;
$facebook-total-height: 188px;
$facebook-image: '../img/spritesheet.png';
$facebook: (104px, 114px, -104px, -114px, 54px, 54px, 262px, 188px, '../img/spritesheet.png', 'facebook', );
$leaf-active-name: 'leaf-active';
$leaf-active-x: 154px;
$leaf-active-y: 0px;
$leaf-active-offset-x: -154px;
$leaf-active-offset-y: 0px;
$leaf-active-width: 40px;
$leaf-active-height: 74px;
$leaf-active-total-width: 262px;
$leaf-active-total-height: 188px;
$leaf-active-image: '../img/spritesheet.png';
$leaf-active: (154px, 0px, -154px, 0px, 40px, 74px, 262px, 188px, '../img/spritesheet.png', 'leaf-active', );
$leaf-name: 'leaf';
$leaf-x: 0px;
$leaf-y: 114px;
$leaf-offset-x: 0px;
$leaf-offset-y: -114px;
$leaf-width: 40px;
$leaf-height: 74px;
$leaf-total-width: 262px;
$leaf-total-height: 188px;
$leaf-image: '../img/spritesheet.png';
$leaf: (0px, 114px, 0px, -114px, 40px, 74px, 262px, 188px, '../img/spritesheet.png', 'leaf', );
$long-arrow-secondary-name: 'long-arrow-secondary';
$long-arrow-secondary-x: 251px;
$long-arrow-secondary-y: 0px;
$long-arrow-secondary-offset-x: -251px;
$long-arrow-secondary-offset-y: 0px;
$long-arrow-secondary-width: 11px;
$long-arrow-secondary-height: 74px;
$long-arrow-secondary-total-width: 262px;
$long-arrow-secondary-total-height: 188px;
$long-arrow-secondary-image: '../img/spritesheet.png';
$long-arrow-secondary: (251px, 0px, -251px, 0px, 11px, 74px, 262px, 188px, '../img/spritesheet.png', 'long-arrow-secondary', );
$long-arrow-name: 'long-arrow';
$long-arrow-x: 251px;
$long-arrow-y: 79px;
$long-arrow-offset-x: -251px;
$long-arrow-offset-y: -79px;
$long-arrow-width: 11px;
$long-arrow-height: 74px;
$long-arrow-total-width: 262px;
$long-arrow-total-height: 188px;
$long-arrow-image: '../img/spritesheet.png';
$long-arrow: (251px, 79px, -251px, -79px, 11px, 74px, 262px, 188px, '../img/spritesheet.png', 'long-arrow', );
$mail-name: 'mail';
$mail-x: 45px;
$mail-y: 114px;
$mail-offset-x: -45px;
$mail-offset-y: -114px;
$mail-width: 54px;
$mail-height: 54px;
$mail-total-width: 262px;
$mail-total-height: 188px;
$mail-image: '../img/spritesheet.png';
$mail: (45px, 114px, -45px, -114px, 54px, 54px, 262px, 188px, '../img/spritesheet.png', 'mail', );
$mouse-secondary-name: 'mouse-secondary';
$mouse-secondary-x: 154px;
$mouse-secondary-y: 79px;
$mouse-secondary-offset-x: -154px;
$mouse-secondary-offset-y: -79px;
$mouse-secondary-width: 20px;
$mouse-secondary-height: 30px;
$mouse-secondary-total-width: 262px;
$mouse-secondary-total-height: 188px;
$mouse-secondary-image: '../img/spritesheet.png';
$mouse-secondary: (154px, 79px, -154px, -79px, 20px, 30px, 262px, 188px, '../img/spritesheet.png', 'mouse-secondary', );
$mouse-name: 'mouse';
$mouse-x: 99px;
$mouse-y: 71px;
$mouse-offset-x: -99px;
$mouse-offset-y: -71px;
$mouse-width: 20px;
$mouse-height: 30px;
$mouse-total-width: 262px;
$mouse-total-height: 188px;
$mouse-image: '../img/spritesheet.png';
$mouse: (99px, 71px, -99px, -71px, 20px, 30px, 262px, 188px, '../img/spritesheet.png', 'mouse', );
$place-name: 'place';
$place-x: 199px;
$place-y: 0px;
$place-offset-x: -199px;
$place-offset-y: 0px;
$place-width: 47px;
$place-height: 55px;
$place-total-width: 262px;
$place-total-height: 188px;
$place-image: '../img/spritesheet.png';
$place: (199px, 0px, -199px, 0px, 47px, 55px, 262px, 188px, '../img/spritesheet.png', 'place', );
$play-name: 'play';
$play-x: 199px;
$play-y: 153px;
$play-offset-x: -199px;
$play-offset-y: -153px;
$play-width: 25px;
$play-height: 25px;
$play-total-width: 262px;
$play-total-height: 188px;
$play-image: '../img/spritesheet.png';
$play: (199px, 153px, -199px, -153px, 25px, 25px, 262px, 188px, '../img/spritesheet.png', 'play', );
$short-arrow-orange-name: 'short-arrow-orange';
$short-arrow-orange-x: 127px;
$short-arrow-orange-y: 173px;
$short-arrow-orange-offset-x: -127px;
$short-arrow-orange-offset-y: -173px;
$short-arrow-orange-width: 35px;
$short-arrow-orange-height: 7px;
$short-arrow-orange-total-width: 262px;
$short-arrow-orange-total-height: 188px;
$short-arrow-orange-image: '../img/spritesheet.png';
$short-arrow-orange: (127px, 173px, -127px, -173px, 35px, 7px, 262px, 188px, '../img/spritesheet.png', 'short-arrow-orange', );
$short-arrow-name: 'short-arrow';
$short-arrow-x: 88px;
$short-arrow-y: 173px;
$short-arrow-offset-x: -88px;
$short-arrow-offset-y: -173px;
$short-arrow-width: 34px;
$short-arrow-height: 11px;
$short-arrow-total-width: 262px;
$short-arrow-total-height: 188px;
$short-arrow-image: '../img/spritesheet.png';
$short-arrow: (88px, 173px, -88px, -173px, 34px, 11px, 262px, 188px, '../img/spritesheet.png', 'short-arrow', );
$slider-arrow-name: 'slider-arrow';
$slider-arrow-x: 251px;
$slider-arrow-y: 158px;
$slider-arrow-offset-x: -251px;
$slider-arrow-offset-y: -158px;
$slider-arrow-width: 10px;
$slider-arrow-height: 23px;
$slider-arrow-total-width: 262px;
$slider-arrow-total-height: 188px;
$slider-arrow-image: '../img/spritesheet.png';
$slider-arrow: (251px, 158px, -251px, -158px, 10px, 23px, 262px, 188px, '../img/spritesheet.png', 'slider-arrow', );
$targets-name: 'targets';
$targets-x: 99px;
$targets-y: 0px;
$targets-offset-x: -99px;
$targets-offset-y: 0px;
$targets-width: 50px;
$targets-height: 66px;
$targets-total-width: 262px;
$targets-total-height: 188px;
$targets-image: '../img/spritesheet.png';
$targets: (99px, 0px, -99px, 0px, 50px, 66px, 262px, 188px, '../img/spritesheet.png', 'targets', );
$technik-name: 'technik';
$technik-x: 199px;
$technik-y: 60px;
$technik-offset-x: -199px;
$technik-offset-y: -60px;
$technik-width: 36px;
$technik-height: 51px;
$technik-total-width: 262px;
$technik-total-height: 188px;
$technik-image: '../img/spritesheet.png';
$technik: (199px, 60px, -199px, -60px, 36px, 51px, 262px, 188px, '../img/spritesheet.png', 'technik', );
$time-name: 'time';
$time-x: 0px;
$time-y: 0px;
$time-offset-x: 0px;
$time-offset-y: 0px;
$time-width: 94px;
$time-height: 47px;
$time-total-width: 262px;
$time-total-height: 188px;
$time-image: '../img/spritesheet.png';
$time: (0px, 0px, 0px, 0px, 94px, 47px, 262px, 188px, '../img/spritesheet.png', 'time', );
$spritesheet-width: 262px;
$spritesheet-height: 188px;
$spritesheet-image: '../img/spritesheet.png';
$spritesheet-sprites: ($arrow-green, $bird, $close, $facebook, $leaf-active, $leaf, $long-arrow-secondary, $long-arrow, $mail, $mouse-secondary, $mouse, $place, $play, $short-arrow-orange, $short-arrow, $slider-arrow, $targets, $technik, $time, );
$spritesheet: (262px, 188px, '../img/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
