.fadeUp {
    animation-name: fadeUp;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(-30px);
    }
}