%reset_link {
    text-decoration: none;
    outline: none;
    border: none;
}

.no-opacity {
    opacity: 0;
}

.clearfix:after {
    content: '';
    display: accordionle;
    clear: both;
}

.visually-hidden {
    position: absolute;
    clip: rect(0,0,0,0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

