$breakpoints: (
    'x-small': (max-width: 320px),
    'small': (max-width: 480px - 1),
    'medium': (max-width: 750px - 1),
    'large': (max-width: 1025px - 1),
    'x-large': (max-width: 1300px),
    'max': (max-width: 1560px)
);

//Fonts
$ffMontserrat: 'Montserrat', sans-serif;

// Colors
$accent-color: #e19677;
$secondary-color: #3b6360;

// Effects
$tr3s: ease all 0.3s;

// Grid
$neat-grid: (
    columns: 12,
    gutter: 0px,
);
