mixin accordion(data)
    .accordion&attributes(attributes)
        a(href="#").accordion__outer
            .accordion__left
                h2.accordion__title= data.title
                .accordion__question= data.question
            .accordion__right
                .accordion__icon(class= data.iconClass)
        .accordion__inner
            block
        
            