include ../../../mixins/facts

- var factsHint = 'Fact'

section.section.about
    .about__container
        .about__wrapper
            .about__left
                include ../../../components/scroll
            .about__center
                .about__center-left
                    a(href="#").about__back
                        |About the project
                        span.about__btn-arrow
                .about__center-right
                    .about__text-block
                        h2.about__title About the project
                        p.about__text We take the life and works of the Yakutovych dynasty of painters – one of the most significant creative families of Ukraine. We add the understanding of the culture and society of the whole epoch,  fill it with interesting stories and visual materials, convert it in the format of layman's terms and informative media, and what we finally have is the Yakutovych Academy – an interactive narration, something in between self-education and an art project.
            .about__right
                +facts(factsHint)