section.section.circle#circle-sec
    .circle__container
        .circle__border
            .circle__content
                .circle__text-block
                    h2.circle__title.animated circle
                    p.circle__text.animated Connections and communications are as important in the Yakutovych’s creative life as their works. Learn about the painters that formed the cultural climate of our time.
                a(href="#").circle__watch-btn
                    .circle__watch-icon
                    |watch
    include family