header.header
    .header__container
        nav.header__nav
            ul.header__menu
                li.header__item
                    a(href="#circle-sec" data-menuanchor="circle").header__link circle
                li.header__item
                    a(href="#team-sec" data-menuanchor="team").header__link team
    form.header__form(method="POST" action="index.php")
        a#link-ukr.visually-hidden(href="../ukr/index.php")
        a#link-en.visually-hidden(href="../en/index.php")
        select.header__select
            option(value="en") en
            option(value="ukr") ukr
