include ../../../mixins/facts

- var factsHint = 'Fact'

section.section.home
    include header

    .home__left-slider.swiper-container
        .swiper-wrapper
            - for(var i = 0; i < 5; i++)
                .home__left-bg.swiper-slide(class='home__left-bg--' + (i + 1))
    .home__right-slider.swiper-container
        .swiper-wrapper
            - for(var i = 0; i < 5; i++)
                .home__right-bg.swiper-slide(class='home__right-bg--' + (i + 1))
    .home__wrapper.animated
        .home__content
            .home__left-container
                include ../../../components/scroll
            .home__center-container
                a(href="#").home__logo-wrapper
                    img(src="../img/logo.png" alt="logo").home__img
                a(href="#").home__about-btn
                    |About the project
                    .home__btn-arrow-icon
            .home__right-container
                +facts(factsHint)

    include about