.popup
    .popup__wrapper
        a(href="#" title="close").popup__close
        figure.popup__figure
            .popup__img-container
                img(src="").popup__img
            figcaption.popup__caption 
                .popup__description
                .popup__copyright