include ../../../mixins/more-btn

- 
    var stages = [
        {
            month: 'January',
            title: 'Likbez',
            text: 'Who are these people and why do we need to know them? The main facts about the Yakutovych, the art environment in Ukraine and its influence on other spheres of life.'
        },
        {
            month: 'February',
            title: 'Shadows of Forgotten Ancestors',
            text: 'Unceasing search of 1960s, formation of the new cultural circles, persistent trends of those years – all this through the lens of the film and the book designed by Heorhiy Yakutovych.'
        },
        {
            month: 'March',
            title: 'The Generation of Kyiv Railway Terminal',
            text: 'The mood of the art community in 1990s, their hopes and frustrations. The new format of exhibitions and a shift in attitude towards art.'
        }
    ]

section.section.stages
    .stages__container
        figure.stages__img-container.stages__img-container--logo
            img(src="../img/short_logo.png" alt="yakutovych academy").stages__img
        figure.stages__img-container.stages__img-container--rabbit
            img(src="../img/rabbit.png" alt="sergiy yakutovych").stages__img
    .stages__navigation
        .stages__control.stages__control--prev
            .stages__control-icon
        .stages__control.stages__control--next
            .stages__control-icon
    .stages__slider.swiper-container
        .stages__wrapper.swiper-wrapper
            each stage, index in stages
                .stages__slide.swiper-slide
                    .stages__date= index + 1 < 10 ? '0' + (index + 1) : index + 1
                    .stages__month= stage.month
                    h2.stages__title(class= index < 2 ? "animated no-opacity" : "")= stage.title
                    p.stages__text(class= index < 2 ? "animated no-opacity" : "")= stage.text
                    .stages__dummy Coming soon