include ../../../mixins/more-btn

section.section.team#team-sec
    .team__container
        .team__wrapper
            .team__social-block
                form.team__form
                    .team__input-wrapper
                        label.team__label(for="emailInput") Email
                        .team__error-message email is not valid
                        input(type="email" name="email" placeholder="ваш email" maxlength="50" required).team__input
                    a(href="#" title="Subscribe").team__submit
                        .team__arrow-icon
                p.team__subscribe-text Don’t want to miss a new episode? Subscribe and read first.
                ul.team__social-list
                    li.team__social-item
                        a(href="https://www.facebook.com/yakutovych/" target="_blank" title="Facebook").team__social-link.team__social-link--facebook
                    li.team__social-item
                        a(href="mailto:yakutovych.academy@gmail.com" title="Write us").team__social-link.team__social-link--email
            .team__about-block
                h2.team__title.animated Our team
                p.team__text.animated We – NGO Cultural Code – are people who are interested in popularising and studying the cultural processes that formed the modern Ukrainian space. This time we focus on the events of 1950s–2010s as well as the works of the Yakutovych that immensely influenced the development of art and culture of these decades.
                +more-btn('More').team__more-btn
                .team__info
                    |Team of Yakutovych Academy project:
                    ul.team__list
                        li.team__item Polina Limina – idea, texts
                        li.team__item Kateryna Sivachenko – design
                        li.team__item Andriy Koliaka – web-development
                        li.team__item Dmytro Yankovyi – translation
                        li.team__item In collaboration with Ya Gallery Art Center
                    p.team__bottom-text Here we use the images of trees, which were created by Heorhiy, Serhiy and Anton Yakutovych. Also we use the self-portrait of Serhiy Yakutovych as a decoration in the second block.

    footer.footer