include ../../../mixins/facts

- var factsHint = 'Факт'

section.section.about
    .about__container
        .about__wrapper
            .about__left
                include ../../../components/scroll
            .about__center
                .about__center-left
                    a(href="#").about__back
                        |про проект
                        span.about__btn-arrow
                .about__center-right
                    .about__text-block
                        h2.about__title про проект
                        p.about__text Ми беремо за основу життя та творчість династії художників Якутовичів. Додаємо розуміння культури та соціуму цілої епохи, наповнюємо це все цікавими історіями та візуальними матеріалами. Переводимо у формат простої мови та інформативних медіа. І, врешті-решт, отримуємо Yakutovych Academy – інтерактивну розповідь на перетині самоосвіти та мистецького проекту.
            .about__right
                +facts(factsHint)