section.section.circle#circle-sec(data-anchor="circle")
    .circle__container
        .circle__border
            .circle__content
                .circle__text-block
                    h2.circle__title.animated коло
                    p.circle__text.animated Зв’язки та комунікації – не менш важлива складова творчого життя Якутовичів, аніж їхній художній доробок. Знайомимося з митцями та мисткинями, які сформували культурний клімат нашого часу.
                a(href="#").circle__watch-btn
                    .circle__watch-icon
                    |дивитися
    include family