- 
    var family = [
        {
            name: 'Георгій Якутович',
            years: '1930 - 2000',
            img: '../img/img1.jpg',
            profession: 'Книжковий і станковий графік, художник-постановник',
            city: 'Київ',
            education: 'Київський художній інститут',
            wife: 'Олександра Павловська',
            children: 'Сергій та Дмитро Якутовичі'
        },
        {
            name: 'Олександра Павловська',
            years: '1928 – наші дні',
            img: '../img/img2.jpg',
            profession: 'Педагог, книжковий графік',
            city: 'Київ',
            education: 'Київський художній інститут',
            husband: 'Георгій Якутович',
            children: 'Сергій та Дмитро Якутовичі'
        },
        {
            name: 'Сергій Якутович',
            years: '1952 – 2017',
            img: '../img/img6.jpg',
            profession: 'Книжковий і станковий графік, живописець, художник-постановник, театральний художник',
            city: 'Київ',
            education: 'Московський поліграфічний інститут, Київський художній інститут',
            parents: 'Георгій Якутович і Олександра Павловська',
            wife: 'Ольга Якутович',
            children: 'Антон Якутович'
        },
        {
            name: 'Ольга Якутович',
            years: '1950 – 2008',
            img: '../img/img4.jpg',
            profession: 'Ілюстраторка, книжковий графік',
            city: 'Нижній Тагіл',
            education: 'Московський поліграфічний інститут',
            husband: 'Сергій Якутович',
            children: 'Антон Якутович'
        },
        {
            name: 'Дмитро Якутович',
            years: '1958 – наші дні',
            img: '../img/img3.jpg',
            profession: 'Живописець',
            city: 'Київ',
            education: 'приватне',
            parents: 'Георгій Якутович і Олександра Павловська'
        },
        {
            name: 'Антон Якутович',
            years: '1975 – 2014',
            img: '../img/img5.jpg',
            profession: 'Живописець, станковий графік',
            city: 'Київ',
            education: 'Національна академія образотворчого мистецтва та архітектури',
            parents: 'Сергій і Ольга Якутовичі',
            wife: 'Беранжер Максімін'
        }
    ]


section.section.family
    .family__container
        .family__content
            a(href="#").family__back-btn
                .family__back-icon
            .family__members-container
                ul.family__list
                    each person, index in family
                        li.family__item(data-index=index)= person.name
                            .person
                                .person__row
                                    .person__name= person.name
                                    a(href="#").person__back
                                .person__years= person.years
                                figure.person__img-container
                                    img(data-src=person.img alt=person.name).person__img.lazyload
                                .person__profession.person__text.person__text--bold= person.profession
                                .person__text
                                    b.person__text--bold Місце народження: 
                                    =person.city
                                .person__text
                                    b.person__text--bold Навчання: 
                                    =person.education
                                if person.parents
                                    .person__text
                                        b.person__text--bold Батьки: 
                                        =person.parents
                                if person.wife
                                    .person__text
                                        b.person__text--bold Дружина: 
                                        =person.wife
                                if person.husband
                                    .person__text
                                        b.person__text--bold Чоловік: 
                                        =person.husband
                                if person.children
                                    .person__text
                                        b.person__text--bold Діти: 
                                        =person.children
    .spinner
        .spinner__container
            .spinner__svg-wrapper
                - for(var i = 0; i < family.length; i++)
                    .spinner__dot(class="spinner__dot--" + (i + 1), data-index=i title=family[i].name)
                |<svg class="spinner__svg spinner__svg--lg" id="spinner__svg--lg" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke-width="3" fill-opacity="null" d="m154.37139,286.00419c29.82092,-0.86041 77.70239,-27.10284 107.94332,-65.82119c30.24093,-38.71834 19.7406,-125.18932 -20.58064,-172.08153c-40.32124,-46.89222 -121.80375,-55.9265 -176.40543,-34.84651c-54.60168,21.07999 -80.22247,172.08153 -45.3614,219.40395c34.86108,47.32243 104.58323,54.20569 134.40415,53.34528z" class="circle1" stroke="#ffffff"/><path fill="none" stroke-width="3" fill-opacity="null" d="m48.2202,88.62938c-15.98106,32.81354 -16.39083,31.97216 -13.52244,63.52364c2.8684,31.55148 4.91725,37.86178 18.02992,58.8961c13.11266,21.03432 14.34198,26.92393 37.28914,37.44109c22.94717,10.51715 15.5713,7.99304 46.71388,6.73098c31.14258,-1.26206 31.96213,-4.62755 56.54838,-10.09647c24.58625,-5.46893 23.76671,-8.83442 36.87937,-31.55148c13.11267,-22.71707 11.06382,-10.93785 19.669,-43.75139c8.60519,-32.81353 0.40977,-47.95824 -3.68793,-60.57884c-4.09771,-12.62059 -10.65405,-21.87569 -17.21038,-29.86873c-6.55633,-7.99304 -11.88335,-13.46196 -28.68396,-22.71706c-16.8006,-9.2551 -33.60121,-21.03432 -43.02594,-23.97913c-9.42473,-2.9448 -34.42075,-1.68274 -43.84548,0.84137c-9.42473,2.52412 -29.5035,11.35854 -37.28915,20.61364c-7.78564,9.2551 -11.88335,1.68274 -27.86441,34.49628z" class="circle2" stroke="#ffffff"/><ellipse fill="none" stroke-width="3" fill-opacity="null" cx="141.246647" cy="141.746676" class="circle4" rx="40.749046" ry="40.749054" stroke="#ffffff"/><path stroke="#ffffff" class="circle3" d="m80.520816,98.53251c15.347354,-20.772195 17.745378,-18.883814 47.001271,-25.965244c29.255893,-7.08143 24.93945,-4.248858 60.909811,10.858193c35.970361,15.107051 34.051942,52.402583 25.419055,81.200399c-8.632887,28.797816 -12.94933,49.097915 -44.603247,53.818869c-31.653917,4.720953 -62.348625,5.665144 -78.655189,-17.939623c-16.306564,-23.604767 -26.378265,-58.067727 -23.980241,-69.87011c2.398024,-11.802384 -1.438814,-11.330288 13.90854,-32.102483z" fill-opacity="null" stroke-opacity="null" stroke-width="3" fill="none"/></svg>
                |<svg class="spinner__svg spinner__svg--md" id="spinner__svg--md" xmlns="http://www.w3.org/2000/svg"><path id="svg_1" fill="none" stroke-width="3" fill-opacity="null" d="m125.65536,236.51726c24.52122,-0.70719 63.89331,-22.27634 88.75989,-54.09967c24.86659,-31.82333 16.23235,-102.89544 -16.92309,-141.43702c-33.15545,-38.54159 -100.15707,-45.96703 -145.05507,-28.641c-44.898,17.32604 -65.96552,141.43703 -37.29988,180.33221c28.66565,38.89518 85.99694,44.55266 110.51815,43.84548z" class="circle1" stroke="#ffffff"/><path id="svg_2" fill="none" stroke-width="3" fill-opacity="null" d="m36.3812,75.5054c-12.93413,26.48244 -13.26577,25.80341 -10.94426,51.26729c2.32151,25.46389 3.97973,30.55667 14.59235,47.53259c10.61262,16.97592 11.60755,21.72918 30.17964,30.21714c18.57208,8.48797 12.60248,6.45085 37.80745,5.4323c25.20497,-1.01856 25.86826,-3.7347 45.76692,-8.14844c19.89866,-4.41375 19.23537,-7.12989 29.84799,-25.46389c10.61262,-18.334 8.9544,-8.82748 15.91893,-35.30992c6.96453,-26.48244 0.33165,-38.70511 -2.9848,-48.89066c-3.31644,-10.18556 -8.62275,-17.65496 -13.92906,-24.10581c-5.30631,-6.45086 -9.61769,-10.8646 -23.21511,-18.334c-13.59741,-7.46941 -27.19483,-16.97593 -34.82265,-19.35256c-7.62782,-2.37663 -27.85813,-1.35807 -35.48595,0.67904c-7.62782,2.03711 -23.87839,9.167 -30.17963,16.63641c-6.30124,7.4694 -9.61769,1.35807 -22.55182,27.84051z" class="circle2" stroke="#ffffff"/><ellipse fill="none" stroke-width="3" fill-opacity="null" cx="111.497358" cy="123.497159" class="circle4" rx="36.74914" ry="37.99912" stroke="#ffffff"/><path id="svg_9" class="circle3" d="m50.00283,98.75c4.75,-15.25 7,-18.5 17,-27c10,-8.5 14,-12.5 23,-14.75c9,-2.25 24.75,-2.25 25,-2.25c0.25,0 20,6 19.99717,6c0.00283,0 17.50283,13.25 17.5,13.25c0.00283,0 14.50283,13.75 15.75283,19.5c1.25,5.75 8.25,10 7.75,30c-0.5,20 -1.5,29.5 -7.75,39.75c-6.25,10.25 -5.5,12.75 -21,19.75c-15.5,7 -23,11.5 -43.25,7.5c-20.25,-4 -24.75,-4 -37.25,-16.75c-12.5,-12.75 -12.75,-20 -17,-34.75c-4.25,-14.75 -4.5,-25 0.25,-40.25z" fill-opacity="null" stroke-opacity="null" stroke-width="3" stroke="#ffffff" fill="none"/></svg>