include ../../../mixins/more-btn

- 
    var stages = [
        {
            month: 'Січень',
            title: 'Лікбез',
            text: 'Хто ці люди й навіщо їх знати? Основне про Якутовичів, мистецьке середовище в Україні та його впливи на інші сфери життя.'
        },
        {
            month: 'Лютий',
            title: 'Тіні забутих предків',
            text: 'Бурхливі пошуки шістдесятих, формування нової культурної тусовки, актуальні тренди тих років – усе через призму фільму та книги, художником яких був Георгій Якутович.'
        },
        {
            month: 'Березень',
            title: 'Покоління Київського вокзалу',
            text: 'Настрій мистецької спільноти у дев’яності, їхні надії та розчарування. Новий формат виставок і зміна ставлення до мистецтва.'
        }
    ]

section.section.stages(data-anchor="stages")
    .stages__container
        figure.stages__img-container.stages__img-container--logo
            img(src="../img/short_logo.png" alt="yakutovych academy logo").stages__img
        figure.stages__img-container.stages__img-container--rabbit
            img(src="../img/rabbit.png" alt="sergiy yakutovych photo").stages__img
    .stages__navigation
        .stages__control.stages__control--prev
            .stages__control-icon
        .stages__control.stages__control--next
            .stages__control-icon
    .stages__slider.swiper-container
        .stages__wrapper.swiper-wrapper
            each stage, index in stages
                a(href= index == 0 ? "01.html" : "").stages__slide.swiper-slide
                    .stages__date= index + 1 < 10 ? '0' + (index + 1) : index + 1
                    .stages__month= stage.month
                    h2.stages__title(class= index < 2 ? "animated no-opacity" : "")= stage.title
                    p.stages__text(class= index < 2 ? "animated no-opacity" : "")= stage.text
                    .stages__dummy Скоро на сайті