include ../../../mixins/more-btn

section.section.team#team-sec(data-anchor="team")
    .team__container
        .team__wrapper
            .team__social-block
                form.team__form
                    .team__input-wrapper
                        label.team__label(for="emailInput") ваш email
                        .team__error-message Не вірний email
                        input(type="email" id="emailInput" name="email" placeholder="ваш email" maxlength="50" required).team__input
                    a(href="#" title="Підписатися").team__submit
                        .team__arrow-icon
                p.team__subscribe-text Не хочете пропустити новий епізод? Підпишіться та читайте першими.
                ul.team__social-list
                    li.team__social-item
                        a(href="https://www.facebook.com/yakutovych/" target="_blank" title="Facebook").team__social-link.team__social-link--facebook
                    li.team__social-item
                        a(href="mailto:yakutovych.academy@gmail.com" title="Напишіть нам").team__social-link.team__social-link--email
            .team__about-block
                h2.team__title.animated команда
                p.team__text.animated Ми – ГО «Культурний код» – люди, які зацікавлені у популяризації та дослідженні культурних процесів, що сформували сучасний український простір. Наразі особливу увагу ми приділяємо подіям 1950-2010-х років, а також творчості родині художників Якутовичів, які суттєво вплинули на розвиток мистецтва та культури цих десятиліть.
                +more-btn('Детальніше').team__more-btn
                .team__info
                    |Над проектом Yakutovych Academy працюють:
                    ul.team__list
                        li.team__item Поліна Ліміна – ідея, тексти
                        li.team__item Катерина Сіваченко – дизайн
                        li.team__item Андрій Коляка – веб-програмування
                        li.team__item Дмитро Янковий – переклад
                        li.team__item За участю арт-центру Я Галерея
                    p.team__bottom-text На сайті використані образи дерев, створені Георгієм, Сергієм та Антоном Якутовичами. Також, як елемент декору, у другому блоці використовується автопортрет Сергія Якутовича.

    footer.footer