doctype html
html(lang="uk")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(property='fb:app_id' content='2091980097752800')
        meta(property='og:url' content='http://yakutovych.academy')
        meta(property='og:title' content='Yakutovych academy')
        meta(property='og:description' content='Yakutovych Academy – медіа-проект про культуру, мистецтво та соціум через призму історії творчої династії Якутовичів')
        meta(property='og:image' content='http://yakutovych.academy/img/logo.jpg')
        meta(property='og:image:alt' content='Yakutovych Academy')
        meta(property='og:type' content='website')
        meta(name='keywords' content='Yakutovych Academy,Георгій Якутович,Олександра Павловська,Сергій Якутович,Ольга Якутович,Дмитро Якутович,Антон Якутович')
        meta(name='description' content='Yakutovych Academy – медіа-проект про культуру, мистецтво та соціум через призму історії творчої династії Якутовичів')
        title 01 Лікбез
        link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
        link(href='../css/01.css' rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js")
        script.
            var WebFontConfig = {
                custom: {
                    families: ['Montserrat:n5,n7']
                }
            };
            WebFont.load(WebFontConfig);

            sessionStorage.setItem("lang", "ukr")
    body
        include modules/header
        include modules/intro
        include modules/human
        include modules/time
        include modules/place
        include modules/technique
        include modules/targets
        include modules/footer
