.preloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    transition: ease all 0.3s;

    &--done {
        opacity: 0;
        visibility: hidden;
    }

    &__circle {
        border: 10px solid #fff;
        border-radius: 50%;
        border-top-color: #3b6360;
        width: 75px;
        height: 75px;
        animation: spin 1s infinite linear;

        @media only screen and (max-width: 1024px) {
            width: 50px;
            height: 50px;
            border-width: 6px;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
