include ../../mixins/alert

doctype html
html(lang='uk')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(property='fb:app_id' content='2091980097752800')
		meta(property='og:url' content='http://yakutovych.academy')
		meta(property='og:title' content='Yakutovych academy')
		meta(property='og:description' content='Yakutovych Academy – медіа-проект про культуру, мистецтво та соціум через призму історії творчої династії Якутовичів')
		meta(property='og:image' content='http://yakutovych.academy/img/logo.jpg')
		meta(property='og:image:alt' content='Yakutovych Academy')
		meta(property='og:type' content='website')
		meta(name='keywords' content='Yakutovych Academy,Георгій Якутович,Олександра Павловська,Сергій Якутович,Ольга Якутович,Дмитро Якутович,Антон Якутович')
		meta(name='description' content='Yakutovych Academy – медіа-проект про культуру, мистецтво та соціум через призму історії творчої династії Якутовичів')
		title Yakutovych Academy
		link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
		link(href='../css/index.css' rel='stylesheet')
		link(href='../css/inline.css' inline)
		script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js")
		script.
			var WebFontConfig = {
				custom: {
					families: ['Montserrat:n3,n4,n5,n6,n7']
				}
			};
			WebFont.load(WebFontConfig);

			sessionStorage.setItem("lang", "ukr")
	body

		#fullpage
			include modules/home
			include modules/stages
			include modules/circle
			include modules/team

		include modules/popup
		include ../../components/preloader
		+alert("Дякуємо за підписку!")

		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.js")
		script(src="../js/index.js")