.accordion {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__title {
        color: $secondary-color;
        font-size: 2.586rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__outer {
        display: flex;
    }

    &__inner {
        display: none;
    }

    &__left {
        margin-top: 8px;
        text-align: center;
        width: 210px;
    }

    &__right {
        position: relative;
        margin-left: 85px;
    }

    &__icon {
        position: absolute;
        right: 0;
    }

    &__question {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.523rem;
        color: #8a8a8a;
        text-transform: uppercase;

        &::after {
            content: "";
            display: flex;
            flex-grow: 1;
            margin-left: 5px;
            background-color: #8a8a8a;
            height: 2px;
        }

        &::before {
            content: "";
            display: flex;
            flex-grow: 1;
            margin-right: 5px;
            height: 2px;
            background-color: #8a8a8a;
        }
    }
}