.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 30%;
        height: 20%;
        min-width: 300px;
        min-height: 100px;
        background-color: #fff;
        border: 1px solid $secondary-color;
    }

    &__button {
        background-color: transparent;
        border: 1px solid $accent-color;
        padding: 2px 20px;
    }

    &__text {
        font-size: 1.2rem;
    }
}
