.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    max-width: 308px;
    min-width: 250px;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    white-space: nowrap;

    &__text {
        flex-grow: 1;
        white-space: nowrap;
    }

    @include respond-to(large){
        min-width: 228px;
    }

    @include respond-to(small){
        font-size: .9rem;
        letter-spacing: 1px;
        padding: .5rem 0;
    }
}

.more-btn {
    position: relative;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -9px;
        width: 44px;
        height: 2px;
        background-color: $accent-color;

        @include respond-to(medium){
            bottom: -5px;
            width: 31px;
        }
    }

    &__arrow-icon {
        @include sprite($short-arrow-orange);
        display: inline-block;

        margin-left: 10px;
    }
}
