.facts {
    position: relative;
    display: flex;
    justify-content: flex-start;

    @include respond-to(large) {
        justify-content: flex-end;
        align-items: center;
        width: auto;
    }


    &__logo-text {
        position: absolute;
        left: -95px;
        top: 100px;
        display: inline-block;
        color: $accent-color;
        font-weight: 600;
        transform: scaleY(1.0295) rotate(90deg);
        text-transform: uppercase;
        letter-spacing: 2px;
        white-space: nowrap;

        @include respond-to(large) {
            display: none;
        }
    }

    &__link {
        @include sprite($leaf);

        margin-left: 65px;

        @include respond-to(large) {
            margin-left: 0;
        }


        @include respond-to(small) {
            margin-left: 0;
            transform: scale(1.09);
        }


        &--active {
            @include sprite($leaf-active);
        }
    }

    &__fact {
        position: absolute;
        bottom: 93px;
        left: 50%;
        display: none;
        width: 150px;
        color: #fff;
        font-size: 0.749rem;
        font-weight: 600;
        text-align: left;

        @include respond-to(large) {
            top: 0;
            left: -160px;
            text-align: right;
        }


        @include respond-to(small) {
            left: auto;
            right: 65px;
        }
    }
}
