.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: none;
    background-color: #fff;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__close {
        @include sprite($close);

        position: absolute;
        right: 30px;
        top: 30px;

        @include respond-to(large) {
            transform: scale(0.8);
        }


        @include respond-to(small) {
            top: 10px;
            right: 5%;
        }
    }

    &__figure {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__img-container {
        max-width: 80%;
        max-height: 85%;

        @include respond-to(small) {
            max-width: 80%;
            max-height: 80%;
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 100%;
    }

    &__caption {
        margin-top: 30px;
        padding: 0 20px;
        text-align: left;
        color: black;
    }

    &__description {
        font-weight: 700;
    }

    &__copyright {
        margin-top: 5px;
        font-size: .9rem;
    }
}
