.scroll {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    @include respond-to(large) {
        margin-left: 0;
        max-width: 25px;
    }


    @include respond-to(small) {
        justify-content: flex-start;
    }


    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: -55px;
        background-color: $accent-color;
        width: 4px;
        height: 51px;

        @include respond-to(large) {
            display: none;
        }

        @include respond-to(small){
            display: block;
            height: 19px;
            width: 3px;
            top: -231px;
        }
    }

    &__mouse-icon-wrapper {
        @include respond-to(small) {
            max-height: 15px;
        }
    }

    &__mouse-icon {
        @include sprite($mouse);

        @include respond-to(large) {
            transform: scale(0.5);
            margin-top: -8px;
        }
    }

    &__arrow-icon-wrapper {
        margin-top: 23px;
        overflow: hidden;

        @include respond-to(small) {
            margin-top: 11px;
            max-height: 36px;
        }
    }

    &__arrow-icon {
        @include sprite($long-arrow);

        @include respond-to(large) {
            margin-top: -15px;
            transform: scale(0.6);
        }
    }

    &__text {
        margin-top: 44px;
        font-weight: 700;
        text-transform: uppercase;
        transform: scaleY(1.0015) rotate(90deg);
        letter-spacing: 2px;
        color: #fff;

        @include respond-to(large) {
            margin-top: 26px;
            font-size: 0.7rem;
        }

        @include respond-to(small) {
            margin-top: 26px;
            font-size: 0.375rem;
        }
    }
}
