.spinner {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;

    @include respond-to(large) {
        left: 0;
        width: 100%;
        height: 450px;
    }


    &__container {
        position: absolute;
        right: 0;
        width: 800px;
        height: 100%;
        background: url("../img/tree.jpg") no-repeat;
        background-position: top left;
        background-size: contain contain;

        @include respond-to(max) {
            left: 0;
        }


        @include respond-to(x-large) {
            bottom: 0;
            top: 0;
            left: 0px;
            margin: auto 0;
            background-position: center;
            background-size: contain;
            height: 840px;
            width: 840px;
        }


        @include respond-to(large) {
            left: 0;
            right: 0;
            bottom: -20px;
            top: auto;
            margin: auto;
        }


        @include respond-to(medium) {
            width: 380px;
            height: 380px;
            bottom: auto;
            top: -130px;
            background-image: url("../img/kolo-sm.jpg");
        }


        @media screen and (max-width: 370px) {
            left: -20px;
        }
    }

    &__dot {
        position: relative;
        z-index: 9000;
        width: 0px;
        height: 0px;

        &::after {
            content: '';
            position: absolute;
            bottom: -12.5px;
            left: -12.5px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #fff;
            transition: $tr3s;
            cursor: pointer;

            @include respond-to(large) {
                width: 20px;
                height: 20px;
                bottom: -10px;
                left: -10px;
            }


            @include respond-to(medium) {
                width: 10px;
                height: 10px;
                bottom: -5px;
                left: -5px;
            }
        }

        @include respond-to(medium) {
            position: absolute;
        }


        &--1 {
            @include respond-to(large) {
                top: 189px;
                left: 111px;
            }


            @include respond-to(medium) {
                top: 186px;
                left: 158px;
            }
        }

        &--2 {
            @include respond-to(large) {
                top: 150px;
                left: 54px;
            }


            @include respond-to(medium) {
                top: 213px;
                left: 175px;
            }
        }

        &--3 {
            @include respond-to(large) {
                top: 185px;
                left: 178px;
            }


            @include respond-to(medium) {
                top: 210px;
                left: 220px;
            }
        }

        &--4 {
            @include respond-to(large) {
                top: 151px;
                left: 197px;
            }


            @include respond-to(medium) {
                top: 226px;
                left: 204px;
            }
        }

        &--5 {
            @include respond-to(large) {
                top: 196px;
                left: 62px;
            }


            @include respond-to(medium) {
                top: 219px;
                left: 140px;
            }
        }

        &--6 {
            @include respond-to(large) {
                top: 229px;
                left: 146px;
            }


            @include respond-to(medium) {
                top: 239px;
                left: 173px;
            }
        }

        &:hover, &--active {
            &::after {
                width: 35px;
                height: 35px;
                bottom: -17.5px;
                left: -17.5px;
                background-color: $secondary-color;

                @include respond-to(medium) {
                    width: 15px;
                    height: 15px;
                    bottom: -7.5px;
                    left: -7.5px;
                }
            }
        }
    }

    &__svg-wrapper {
        position: absolute;
        top: 369px;
        left: 385px;

        @include respond-to(x-large) {
            top: 290px;
            left: 300px;
        }


        @include respond-to(medium) {
            top: 0;
            left: 0;
            right: 0;
        }
    }

    &__svg {
        background-color: $accent-color;
        border-radius: 40%;

        @include respond-to(large) {
            display: none;
        }


        &--lg {
            width: 283px;
            height: 290px;

            @include respond-to(x-large) {
                display: none;
            }
        }

        &--md {
            display: none;
            width: 230px;
            height: 240px;
            border-radius: 30%;

            @include respond-to(x-large) {
                display: block;
            }


            @include respond-to(medium) {
                display: none;
            }
        }
    }
}
