.text-block {
    transition: $tr3s;

    &__title {
        @extend .section__title;

        margin-top: -7px;
        line-height: 1;
        transition: $tr3s;
    }

    &__text {
        position: relative;
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 500;
        transition: $tr3s;
        line-height: 1.563;

        @include respond-to(medium){
            font-size: .875rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 6px;
            left: -73px;
            background-color: $accent-color;
            width: 44px;
            height: 4px;

            @include respond-to(medium){
                left: -34px;
                height: 3px;
                width: 21px;
            }
        }
    }
}
