.section {
    &__container {
        @include grid-container;

        width: 100%;
        max-width: 1560px;
        margin: 0 auto;

        @media screen and (min-width: 1025px) {
            max-width: 81.25%;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;

        @include respond-to(medium){
            font-size: 1.563rem;
        }
    }

    &__text {
        font-size: 0.9rem;
        font-weight: 700;
    }
}
